In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import metrics
from sklearn.metrics import mean_squared_error, r2_score
import sklearn.datasets as datas
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier,plot_tree
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [2]:
url = "https://raw.githubusercontent.com/foxbat4/dsml/refs/heads/main/bike_sales_100k.csv"
data = pd.read_csv(url,encoding='windows-1252', delimiter=',')

In [3]:
data.columns

Index(['Sale_ID', 'Date', 'Customer_ID', 'Bike_Model', 'Price', 'Quantity',
       'Store_Location', 'Salesperson_ID', 'Payment_Method', 'Customer_Age',
       'Customer_Gender'],
      dtype='object')

In [8]:
data.dtypes

Sale_ID              int64
Date                object
Customer_ID          int64
Bike_Model          object
Price              float64
Quantity             int64
Store_Location      object
Salesperson_ID       int64
Payment_Method      object
Customer_Age         int64
Customer_Gender     object
dtype: object

In [9]:
data.head()

,Sale_ID,Date,Customer_ID,Bike_Model,Price,Quantity,Store_Location,Salesperson_ID,Payment_Method,Customer_Age,Customer_Gender
0,1,11-07-2022,9390,Cruiser,318.32,1,Philadelphia,589,Apple Pay,70,Female
1,2,03-05-2024,3374,Hybrid Bike,3093.47,4,Chicago,390,Apple Pay,37,Male
2,3,01-09-2022,2689,Folding Bike,4247.99,3,San Antonio,338,PayPal,59,Female
3,4,28-09-2022,3797,Mountain Bike,1722.01,3,San Antonio,352,Apple Pay,19,Male
4,5,05-01-2021,1633,BMX,3941.44,3,Philadelphia,580,PayPal,67,Female